<%= link_to t("links.shop.back"), :controller => :shop %> 
<div id="directions" style="width: 400px;">
<p>Help us keep track of how many hours we've put in together!</p>

<h4>Sure, how do I help?</h4>

<p>Once you've created an avatar (<%= link_to t("links.signup"), :controller => :workers, :action => :new %>), you can sign into the shop by using the computer mouse to click and drag your 
<span style="background-color: white;">picture</span> from the 
<span style="background-color: #EFBF68;">box on the left</span> to the 
<span style="background-color: #693100; color: white;">box on the right.</span> </p>

<p>When you've finished working on bikes, just drag your icon back to the 
<span style="background-color: #EFBF68;">box on the left</span>.</p>

<p>Text will appear on the screen telling you what information we're recording.</p>

<h4>I can't find my avatar!?</h4>

<p>In the <span style="background-color: #EFBF68;">volunteer pool</span> only a couple of people are displayed at the same time, ordered by how long ago they were active.
If you've been away, or a reasonable amount of people have come through the shop, you may not be at the top anymore.
Try using the search tool: you can match any part of your name.
Search is not Case-sEnsiTive.
</p>

<p>
Also, sometimes the avatars stack on top of each other, partially hiding the ones beneath.
Try shifting around avatars that are in piles.
As long as you don't move them to the opposite box, you won't make a mess of anything. 
</p>
</div>
<%= link_to t("links.shop.back"), :controller => :shop %>
