<%= form_for(:avatar, :url => '/workers/upload_image', :html => { :multipart => true }, :html => { :id => "imageForm"}) do |f| -%>
  <p>
    <label for="avatar">Upload An Avatar:</label>
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= submit_tag 'Upload' %>
  </p>
<% end -%>
