body {
    background: #d9c789;
}

a:visited { color: #FE5301; }
a:link { color: #FE5301; text-decoration:underline; }

table#main {
    /* background-color: #693100; */
    //background-image: url(/images/table_bgimage.png);
}

div#dialog {
    width: 650px;
    visibility: hidden;
    border: 2px solid black;
    background-color: white;
    text-align: left;
    padding: 5px;
}

div#notice {
    background-color: white;
    text-align: left;
}

.home { 
    border: 2px solid #DF9000; 
    /* background-color: #EFBF68; */
    width: 320px; 
    height: 460px;
    margin: 10px; 
}
.shop { 
    border: 2px solid #532900;
    /* background-color: #693100; */
    width: 600px; 
    height: 460px;
    margin: 10px; 
  }
.athome {
    width: 100px;
    height: 140px; 
/* Similar color to the paper */
/*    background-color: #f0eae7; */
}
.atshop {
    width: 100px;
    height: 140px;
/* Similar color to the paper */
/*    background-color: #f0eae7; */
}
.vperson img {
    width: 100px;
    height: 100px;
}
.vname {
    text-align: center;
    width: 100px;
}
.vno {
    visibility: hidden;
}
.order {
    visibility: hidden;
}
